@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-gray-light-blue: #4c8fcc;
        --color-gray-dark-blue: #23366e;
        --color-gray-pink: #ca5377;
        --color-gray-purple: #b196c6;
        --color-gray-dark-purple: #8258a2;
    }
}

@layer utilities {
    .clear-bg {
        @apply bg-transparent hover:bg-transparent group-hover:bg-transparent active:bg-transparent focus:bg-transparent focus-within:bg-transparent;
    }
    .clear-border-outline {
        @apply border-0 hover:border-0 active:border-0 focus:border-0 focus-within:border-0 outline-none hover:outline-none active:outline-none focus:outline-none focus-within:outline-none;
    }
    .gradient-border-base {
        @apply relative rounded-3xl transition p-[3px];
    }
    .gradient-glow-base {
        @apply absolute -inset-3 -z-50  opacity-50;
    }

    .animate-fade-in-out {
        @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=closed]:animate-out data-[state=closed]:fade-out-0;
    }
    .animate-fade-zoom-slide-in {
        @apply data-[state=open]:animate-in data-[state=open]:fade-in-0 data-[state=open]:zoom-in-95 data-[state=open]:slide-in-from-left-1/2 data-[state=open]:slide-in-from-top-[48%];
    }
    .animate-fade-zoom-slide-out {
        @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95 data-[state=closed]:slide-out-to-left-1/2 data-[state=closed]:slide-out-to-top-[48%];
    }
    .animate-fade-zoom-slide-in-out {
        @apply animate-fade-zoom-slide-in animate-fade-zoom-slide-out;
    }
    .animate-slide-in-out-base {
        @apply data-[state=open]:animate-in data-[state=open]:duration-300 data-[state=closed]:animate-out data-[state=closed]:duration-300;
    }
    .animate-slide-in-out-left {
        @apply animate-slide-in-out-base data-[state=open]:slide-in-from-left data-[state=closed]:slide-out-to-left;
    }
    .animate-slide-in-out-right {
        @apply animate-slide-in-out-base data-[state=open]:slide-in-from-right data-[state=closed]:slide-out-to-right;
    }
    .animate-slide-in-out-top {
        @apply animate-slide-in-out-base data-[state=open]:slide-in-from-top data-[state=closed]:slide-out-to-top;
    }
    .animate-slide-in-out-bottom {
        @apply animate-slide-in-out-base data-[state=open]:slide-in-from-bottom data-[state=closed]:slide-out-to-bottom;
    }
}

@layer components {

    .input {
        @apply clear-bg clear-border-outline ;
        @apply w-full h-full p-6 rounded-3xl text-white shadow-sm bg-[#ffffff0d] placeholder:text-white/50  hover:bg-[#ffffff10] active:bg-[#ffffff10] focus:bg-[#ffffff10] focus-within:bg-[#ffffff10];
    }
    .label {
        @apply flex flex-row justify-start items-center font-bold;
    }

    .badge {
        @apply flex flex-row flex-initial px-3 py-2 gap-3 h-fit justify-center items-center rounded-3xl transition font-bold text-xs text-nowrap uppercase bg-gray-500;
    }

    .btn {
        @apply clear-bg clear-border-outline;
        @apply flex flex-row flex-initial p-4 gap-4 justify-center items-center rounded-xl transition font-bold cursor-pointer bg-gray-950/75;
        @apply hover:bg-gray-950 active:bg-gray-950 active:hover:bg-gray-950 focus:bg-gray-950 focus:hover:bg-gray-950 focus-within:bg-gray-950 focus-within:hover:bg-gray-950;
        @apply disabled:cursor-not-allowed;
    }
    .btn-gray {
        @apply btn bg-gray-950/75 hover:bg-gray-950 active:bg-gray-950 focus:bg-gray-950 focus-within:bg-gray-950;
    }
    .btn-error {
        @apply btn bg-rose-500 hover:bg-rose-400 active:bg-rose-400 active:hover:bg-rose-400 focus:bg-rose-400 focus:hover:bg-rose-400 focus-within:bg-rose-400 focus-within:hover:bg-rose-400;
    }
    .btn-gradient {
        @apply btn transition disabled:brightness-75 disabled:hover:paused hover:brightness-110 disabled:hover:brightness-75;
        @apply border border-white/10 hover:border hover:border-white/15 active:border active:border-white/15 active:hover:border-white/15 focus:border focus:border-white/15 focus:hover:border-white/15 focus-within:border focus-within:border-white/15 focus-within:hover:border-white/15;
    }
    .btn-full {
        @apply flex-1 w-full p-6 text-xl running disabled:paused;
    }

    .tab {
        @apply flex flex-row flex-1 justify-center items-center px-4 py-3 rounded-3xl font-bold transition;
        @apply bg-white/10 hover:bg-white/15 active:bg-white/15 focus:bg-white/15 focus-within:bg-white/15;
        @apply data-[state=active]:bg-white/25 data-[state=active]:hover:bg-white/30;
    }

    .select-item {
        @apply flex flex-row flex-1 w-full p-4 gap-4 justify-start items-center rounded-3xl transition cursor-pointer bg-transparent;
        @apply p-6 rounded-3xl text-white shadow-sm bg-white/5 hover:bg-white/10 active:bg-white/10 focus:bg-gray-950/50 focus-within:bg-white/50 data-[selected=true]:bg-white/50 data-[selected=true]:hover:bg-white/50;
        @apply data-[disabled=true]:cursor-not-allowed;
    }
    .select-item-toggle {
        @apply select-item btn;
        @apply inline-flex flex-initial w-fit ps-3 pe-4 py-2 gap-3 justify-center rounded-full text-sm bg-white/10;
        @apply hover:bg-white/15 active:bg-white/15 focus:bg-white/15 focus-within:bg-white/15 data-[selected=true]:bg-white/20 data-[selected=true]:hover:bg-white/25;
    }
    .summary-detail-item {
        @apply flex flex-col flex-1 w-full p-4 gap-4 justify-start items-start rounded-3xl transition cursor-pointer;
        @apply p-6 rounded-3xl text-white shadow-sm bg-[#3A3935];
        @apply data-[disabled=true]:cursor-not-allowed;
    }


}


@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

body {
    color: white;
}
