// .header {
//     background: linear-gradient(160deg, #000, #ffffff3b);
// }

.footerHeader {
    background-color: #1e1d1b;
    opacity: 1;
    background-size: 6px 6px;
    background-image: repeating-linear-gradient(45deg, #000000, rgb(40 40 40) 1px, #070707 0, #1e1d1b 50%)
}