@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --orange-color: #ff6600;
    --green-color: #84CD3B;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;


    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


b {
  text-transform: uppercase !important;
}

.bg-orange {
  background-color: var(--orange-color);
}

.bg-gray {
  background-color: rgb(56, 56, 56);
}

.bg-gray-transparent {
  background-color: rgba(56, 56, 56, 0.8);
}

.bg-red {
  background-color: #FF130B;
}

.border-orange {
  border-color: var(--orange-color);
}

.border-gray-light {
  border-color: #6f6f6f;
}

.shadow-grow-red {
  box-shadow: 0 0 25px rgba(255, 19, 11, 0.9);
}

.shadow-grow-red-lg {
  box-shadow: 0 0 50px rgba(255, 19, 11, 0.9);
}

.shadow-grow-heavy-red {
  box-shadow: 0 0 15px 4px #FD0000;
}

.shadow-grow-orange {
  box-shadow: 0 0 25px rgba(255, 102, 0, 0.9);
}

.shadow-grow-green {
  box-shadow: 0 0 25px rgba(132, 205, 59, 0.9);
}

.shadow-grow-green-flare {
  box-shadow: 0 0 100px rgba(219, 255, 75, 0.9);
}

.shadow-grow-heavy-green {
  box-shadow: 0 0 15px 4px #13FF00;
}

.shadow-grow-gray {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.4);
}

.shadow-grow-gray-sm {
  box-shadow: 0 0 15px 4px rgb(255, 255, 255);
}

.text-red {
  color: #FD0000;
}

.text-orange {
  color: var(--orange-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-neon-green {
  background-color: #EEFF4B;
}

.bg-reflect-green {
  background-color: #DBFF4B;
}

.text-green {
  color: #30FE47;
}

.text-light-gray {
  color: #6e6e6e;
}

/* Overrided all Lucide Icons set */
.lucide {
  stroke-width: 1;
}

.text-shadow {
  text-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.6);
}

.text-shadow-lg {
  text-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.6);
}

.box-shadow {
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.4);
}

.img-shadow {
  filter: drop-shadow(0 0 5px hsla(0, 0%, 0%, 0.4));
}

.img-shadow-lg {
  filter: drop-shadow(5px 5px 10px hsla(0, 0%, 0%, 0.6));
}

.max-w-6xl {
  max-width: 72rem;
}

body {
  background-color: #1e1d1b;
  opacity: 1;
  background-size: 6px 6px;
  background-image: repeating-linear-gradient(45deg, #232323 0, #232323 1px, #1e1d1b 0, #1e1d1b 50%);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ffffff0d;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff0d;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff0d;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #daff00
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #daff00
}

*::-webkit-scrollbar-thumb:active {
  background-color: #daff00;
}

.ThirdwebWalletBtn {
  background-color: #000000 !important;
  border-radius: 36px !important;
  height: 40px !important;
  box-shadow: 0 0 10px #daff00 !important;
  padding-left: 4px !important;
  padding-right: 4px !important;
}